<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">New Portal</h1>
    <div class="col-6 offset-3">
        <form action="/portals" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="subject" class="form-label">Subject</label>
                <input type="text" name="portal[subject]" id="subject" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" name="portal[date]" id="date" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Portal</button>
            </div>
        </form>
    </div>
</div>