<% layout('layouts/boilerplate') %>  

<form action="/register" class="validated-form" method="POST" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Passeord</label>
        <input class="form-control" type="password" id="password" minlength="6" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            should be at least 6 characters long
        </div>
    </div>
    <button class="btn btn-success">Successs</button>
</form>